main {
  padding: 80px 100px;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  transition: 0.4s ease;
}

.main-active {
  padding: 80px 40px 80px 340px;
}

@media screen and (max-width: 1000px) {
  main {
    padding: 80px 20px;
  }
}