.z-10 {
  z-index: 10;
}

.side-nav {
  height: calc(100vh - 56px);
  margin: 56px 0 0 0;
  width: 0;
  transition: ease 0.4s;
}

.nav-open {
  width: 300px !important;
}

.nav-items {
  position: relative;
  left: -300px;
  transition: ease 0.4s;
}

.nav-items-open {
  left: 0px;
}